{% extends 'vente/base.html' %}
{%block content %}
</br>

		<!-- <div class="container"> -->
       
	    <div class="row">
        {% for post in posts %}
		
        
		 <div class="col-lg-4">
		 <div class="thumbnail">
		 
        <img class="img-thumbnail"  src="{{ MEDIA_URL }}{{ post.photo1 }}" alt="photo1"/>
		<div class="caption">
		</br> 
		
		<dl class="dlhorizontal">
			<dt>publié:</dt>
			<dd>{{post.date_publication}}</dd>
			
			<dt>localite:</dt>
			<dd>{{post.localite}}</dd>
			
			<dt>categories:</dt>
			<dd>{{post.categories}}</dd>
		</dl>
        <a href="{% url "lire" post.id %}"">Voir Plus</a>
		
			</div>
		</div>
		</div>
		</br>
        {% endfor %}
	</div>
	
	
{%endblock%}
