{% load static %}
<Doctype! html>
<html>
  <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">  
   <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.css' %}">
  <title>{%block title%}Bonplan{%endblock%}</title>
  </head>
  <div class="container">
  <body>
    <header>
	<nav >{%block nav%}
	 <ul >
		<li><a href="{% url "articles"%}"">Bonplan</a></li>
		<li><a href="{% url "offre"%}"">Deposez Annonce</a></li>
		<!-- <li><a href="">Contact</a></li> -->
		<li style="float:right">
				{% if user.is_authenticated %} 
					<a href="{% url "profil"%}"">{{ user.username }}</a>
				{% else %}
					<a  href="{% url "connexion"%}""> Connexion</a> 
				{%endif%}	
		</li> 
	</ul>
	{%endblock%}
	</nav>
    </header>
    <section id="content">
      {%block content%}
      {%endblock%}
    </section>
    <footer class="footer">
		@bonplan
	<footer>

</body>
</div>
</html>
