{% extends 'vente/base.html' %}
{% block content %}
<h1>Se connecter</h1>
<a href="{% url "inscription"%}">S'incrire</a>
{% if error %}
<p><strong>Utilisateur inexistant ou mauvais de mot de passe.</strong></p>
{% endif %}
{% if user.is_authenticated %}
Vous êtes connecté, {{ user.username }} !
Ce deconnecter<a href="{%url "deconnexion"%}">ici</a>
{% else %}
<form method="post" action=".">
{% csrf_token %}
<div class="conteneur">
{{ form.as_p}}
<button name="conect"type="submit">Login</button>
</div>
</form>
{% endif %}
{% endblock %}
